*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0b1120;

    color:white;
}

.login-container{

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

.login-card{

    width:420px;

    background:#151c2e;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:40px;

    box-shadow:0 0 30px rgba(124,58,237,.15);
}

.logo{

    display:flex;
    justify-content:center;
    align-items:center;

    gap:12px;

    margin-bottom:25px;
}

.logo i{

    color:#8b5cf6;
    font-size:34px;
}

.logo h2{

    font-size:28px;
}

.login-card h1{

    text-align:center;
    margin-bottom:10px;
}

.login-card p{

    text-align:center;
    color:#cbd5e1;

    margin-bottom:25px;
}

.input-box{

    background:#0b1120;

    border:1px solid rgba(255,255,255,.08);

    border-radius:10px;

    display:flex;
    align-items:center;

    padding:14px 18px;

    margin-bottom:18px;
}

.input-box i{

    color:#8b5cf6;

    margin-right:12px;
}

.input-box input{

    width:100%;

    border:none;
    outline:none;

    background:transparent;

    color:white;

    font-size:16px;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#8b5cf6;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    transform:translateY(-3px);
}

.divider{

    text-align:center;

    margin:25px 0;

    color:#94a3b8;
}

.social-buttons{

    display:flex;
    flex-direction:column;

    gap:15px;
}

.google-btn,
.github-btn{

    background:transparent;

    border:1px solid rgba(255,255,255,.08);
}

.signup-text{

    margin-top:25px;

    text-align:center;

    color:#cbd5e1;
}

.signup-text a{

    color:#8b5cf6;

    text-decoration:none;

    font-weight:600;
}